@use '../../assets/app.scss' as *;

.menu__container {
    width: 100vw;
    height: 70px;
    // position: absolute;
    // bottom: 0;
    right: auto;
    background-color: var(--color-green);
}

.menu__nav {
    width: 100vw;
    margin: auto;
    border-top: 5px solid var(--color-white);
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu__button {
    @include button-base;
    padding: #{$spacing-sm} !important;
    background-color: transparent !important;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80px !important;
    min-width: 80px !important;
}

.menu__image {
    width: 40px;
    height: 40px;
}

.menu__image.menu__image--larger {
    width: 50px;
    height: 50px;
}