@use '../../assets/app.scss' as *;

.startView__wrapper {
  @include wrapper;
  background-color: var(--color-white) !important;
}

.startView__title {
  font-size: 2rem;
  color: var(--color-green);
  margin: 1rem;
}

.startView__logo {
  width: 50vw;
  max-width: 200px;
  margin: 2rem;
  border-radius: 100%;
  border: 2px solid white;
}

.startView__button {
  @include button-base;
}

.startView__button--register {
  opacity: 70%;
  margin-top: 1rem !important;
}