@use '../../assets/app.scss' as *;

.intervalView__wrapper {
    @include wrapper;
    background: rgb(162, 208, 193) !important;
    background: linear-gradient(144deg, rgba(162, 208, 193, 1) 0%, rgba(11, 88, 80, 1) 60%) !important;
}

.intervalView__container {
    @include centering;
    background-color: var(--color-white);
    border-radius: #{$borders-radius-sm};
    padding: 3rem;
}