@use '../../assets/app.scss' as *;

.intervalView__wrapper {
    @include wrapper;
    background: rgb(162, 208, 193) !important;
    background: linear-gradient(144deg, rgba(162, 208, 193, 1) 0%, rgba(11, 88, 80, 1) 60%) !important;
}

.intervalView__container {
    @include centering;
    background-color: var(--color-white);
    border-radius: #{$borders-radius-sm};
    height: 95vh;
    width: 90vw;
    padding: 0rem 3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: scroll;
    position: relative;
}

.intervalView__logo {
    z-index: 10;
    height: 3rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;

    &:hover {
        scale: 1.1;
    }

    &:active {
        scale: 0.9;
    }
}

.active-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.progress__text {
    margin-top: 1rem;
}

.intervalView__progressbar {
    width: 100%;
    margin: 0.5rem 0;
    // height: 1.5rem !important;
}

.phase-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.time-left {
    font-size: 5rem;
    color: #555;
}

.exercise-image {
    // width: 70%;
    height: 12rem;
    width: auto;
    margin: 0.5rem 0;
}

.intervalView__desc {
    font-family: $typography-font-family-primary;
    font-size: smaller;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border: 1px solid #d0cfcf86;
    box-shadow: 10px 5px 5px #555;
    border-radius: 5px;
}

.intervalView__alarmBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interval__btn {
    margin: 0.5rem;
    width: 100%;
}

.interval__btn--phasechange {
    margin-left: 2rem;
}