@use '../../assets/app.scss' as *;

.registerView__wrapper {
    @include wrapper;
    background-color: var(--color-green);
}

.registerView__container {
    @include centering;
    background-color: var(--color-white);
    border-radius: #{$borders-radius-sm};
    padding: 3rem;
}

form {
    article {
        padding: 1rem
    }
}

.registerView__button {
    @include button-base;
}

.registerView__input {
    @include input-base;
    min-width: 15rem !important;
}