@use '../../assets/app.scss' as *;

.registerView__wrapper {
    @include wrapper;
    justify-content: center;
    position: relative;
}

.registerView__container {
    @include centering;
    background-color: var(--color-white);
    border-radius: #{$borders-radius-sm};
    padding: 3rem;
}

form {
    article {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.registerView__button {
    @include button-base;
    margin-top: 1rem;
    background: var(--color-green) !important;
    color: var(--color-white) !important;
}

.registerView__input {
    @include input-base;
    min-width: 15rem !important;
}