@import '../../build/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #{$colors-neutral-white};
  --color-green: #{$colors-primary-dark};
  --color-yellow: #{$colors-accent-yellow};
  --color-black: #{$colors-neutral-black};

  --font-primary: #{$typography-font-family-primary};
}

@mixin wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-white);
}

@mixin centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button-base {
  padding: #{$spacing-md};
  min-width: 10rem;
  text-align: center;
  font-size: #{$typography-font-size-md};
  transition: ease-in-out 0.2s;
  margin-top: 1rem;
  margin-bottom: 1rem;
  // --p-button-bg: var(--color-green);
  background-color: var(--color-green) !important;
  --p-button-border: none;
  --p-button-text-color: var(--color-white);
  // --p-button-padding: 10px 20px;
  --p-button-border-radius: #{$borders-radius-md};

  &:hover {
    box-shadow: #{$shadows-md};
    scale: 1.1;
  }

  &:active {
    box-shadow: none;
    scale: 0.9;
  }
}

@mixin input-base {
  margin-top: #{$spacing-md};
  margin-bottom: #{$spacing-sm};
  background-color: rgb(239, 239, 239) !important;
  padding: 0.7rem !important;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}