@import '../../build/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #{$colors-neutral-white};
  --color-light-green: #{$colors-primary-light};
  --color-green: #{$colors-primary-dark};
  --color-yellow: #{$colors-accent-yellow};
  --color-red: #{$colors-accent-red};
  --color-black: #{$colors-neutral-black};
  --color-darkBlue: #{$colors-neutral-dark-blue};
  --font-primary: #{$typography-font-family-primary};
  --p-checkbox-background: #{$colors-primary-dark} !important;
  --p-checkbox-checked-background:#{$colors-primary-light} !important;
  --p-checkbox-checked-border-color: #{$colors-primary-light} !important;
}

@mixin wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh);
  // height: calc(100vh - 80px);
  width: 100vw;
  background: rgb(162, 208, 193);
  background: linear-gradient(144deg, rgba(162, 208, 193, 1) 0%, rgba(11, 88, 80, 1) 60%);
}

@mixin centering {
  border-radius: #{$borders-radius-sm};
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--);
  color: var(--color-black)
}

@mixin button-base {
  padding: #{$spacing-md};
  min-width: 10rem;
  text-align: center;
  font-size: #{$typography-font-size-md};
  transition: ease-in-out 0.2s;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  border: none !important;
  // --p-button-bg: var(--color-green);
  --p-button-border: none;
  //--p-button-text-color: var(--color-white);
  // --p-button-padding: 10px 20px;
  --p-button-border-radius: #{$borders-radius-md};
  //color: var(--color-white) !important;

  &:hover {
    box-shadow: #{$shadows-md};
    scale: 1.1;
  }

  &:active {
    box-shadow: none;
    scale: 0.9;
  }
}

@mixin input-base {
  margin-top: #{$spacing-md};
  margin-bottom: #{$spacing-sm};
  background-color: rgb(239, 239, 239) !important;
  padding: 0.7rem !important;
}

body {
  // min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}