@use '../../assets/app.scss' as *;

.setupExercisesView__wrapper {
    @include wrapper;
    background: rgb(162,208,193) !important;
    background: linear-gradient(144deg, rgba(162,208,193,1) 0%, rgba(11,88,80,1) 60%) !important; 
}
.setupExercisesView__container {
    min-height: 100%;
    background-color: rgba(255,255,255,.3);
    border-radius: #{$borders-radius-md};
    margin: 1rem;
    padding: 1rem;
}

.setupExercisesView__ul {
    list-style: none;
}

.setupExercisesView__li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setupExercisesView__button {
    @include button-base;
}
.setupExercisesView__button.setupExercisesView__button--remove, .setupExercisesView__button.setupExercisesView__button--add {
    border-color: var(--color-black) !important;
    min-width: 10px !important;
    font-size: #{$spacing-sm};
    margin: 16px 0 16px 14px;
}
