@use '../../assets/app.scss' as *;

.setupExercisesView__wrapper {
    @include wrapper;
}

.setupExercisesView__title {
    text-align: center;
}

.setupExercisesView__container {
    @include centering;
    background-color: rgba(255, 255, 255, .3);
    color: var(--color-white);
    border-radius: #{$borders-radius-md};
    margin: 1rem auto;
    padding: 1rem;
    min-height: calc(65vh - 80px);
    max-height: calc(65vh - 80px);
    width: 90vw;
    overflow: auto;
    align-items: normal;
    justify-content: flex-start;
}

.setupExercisesView__ul {
    list-style: none;
}

.setupExercisesView__ul .setupExercisesView__ul--inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.setupExercisesView__li--inner {
    cursor: pointer;
}

.setupExercisesView__button {
    @include button-base;
    margin: 2rem .5rem;
}

.setupExercisesView__button.setupExercisesView__button--remove,
.setupExercisesView__button.setupExercisesView__button--add {
    border-color: var(--color-black) !important;
    min-width: 30px !important;
    max-width: 30px !important;
    font-size: #{$spacing-md};
    padding: 5px 12px;
    margin: 16px 0 16px 14px;
}

.setupExercisesView__text {
    padding: 0.5rem 2rem;
}

.setupExercisesView__modal {
    @include centering;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    background: linear-gradient(144deg, rgba(162, 208, 193, 1) 0%, rgba(11, 88, 80, 1) 60%) !important;
    padding: #{$spacing-xl};
}

.setupExercisesView__modal-section {
    @include wrapper;
    position: relative;
    height: 100vh;
    max-width: 400px;
    color: var(--color-black);
    border-radius: #{$borders-radius-md};
}

.setupExercisesView__modal-title {
    font-size: #{$sizing-xs};
    padding: #{$spacing-md};
}

.setupExercisesView__modal-text {
    font-size: 1rem;
    padding: #{$spacing-md};
}

.setupExercisesView__modal-image {
    width: 60%;
}

.setupExercisesView__modal-button {
    @include button-base;
    position: absolute !important;
    top: 0;
    right: 1rem;
}

.setupExercisesView__loading {
    @include centering;
    background-color: rgba(255, 255, 255, .3);
    min-width: 90%;
    color: var(--color-white);
    border-radius: #{$borders-radius-md};
    margin: 1rem;
    min-height: 65vh;
    max-height: 65vh;
    align-items: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loading__image {
    width: 280px;
    height: 280px;
}

.p-progressspinner-circle {
    stroke: var(--color-black) !important;
}