@use '../../assets/app.scss' as *;

.mainView__wrapper {
  @include wrapper;
  background: rgb(162, 208, 193) !important;
  background: linear-gradient(144deg, rgba(162, 208, 193, 1) 0%, rgba(11, 88, 80, 1) 60%) !important;
}

.mainView__container {
  @include centering;
  height: 95vh;
  width: 90vw;
  justify-content: space-around;
  padding: 2rem;
  position: relative;
  background-color: var(--color-white) !important;
}

.mainView__header {
  text-transform: uppercase;
  font-size: 1.5rem;
}