@use '../../assets/app.scss' as *;

.mainView__wrapper {
  @include wrapper;
}

.mainView__container {
  @include centering;
  height: 80vh;
  width: 90vw;
  justify-content: space-around;
  padding: 2rem;
  position: relative;
  background-color: var(--color-white);
  border-radius: #{$borders-radius-sm};
  padding: 0rem 3rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: scroll;
}

.mainView__container p {
  margin: 1rem 0;
}

.mainView__heading {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.mainView__image {
  max-width: 80vw;
}

.mainView__icon {
  width: 1rem;
}

.mainView__icon.mainView__icon--large {
  width: 1.5rem;
}